.quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 110px;
  padding-bottom: 150px;
}

@media (max-width: 765px) {
  .quote {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}
