.places {
  display: grid;
  grid-template-columns: auto;
  -ms-grid-columns: auto;
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-weight: 700;
  background-color: #f2f2f2;
  width: 100%;
  margin: 0 auto;
}
