.section-subtitle {
  display: block;
  font-size: 32px;
  max-width: 520px;
  font-family: "Manrope", sans-serif;
  font-weight: 900;
  line-height: 1.3;
}

@media (max-width: 450px) {
  .section-subtitle {
    font-size: 22px;
  }
}