.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 73px 25px 132px;
}

@media (max-width: 765px) {
  .title {
    flex-direction: column-reverse;
    padding: 30px 25px 60px;
  }
}