.header {
  font-family: 'Manrope', sans-serif;
  font-size: 12px;
  font-weight: 700;
}

@media (max-width: 450px) {
  .header {
    font-size: 18px;
  }
}


.hamburger-menu {
    display: none;
  }
/* скрываем чекбокс */
.menu__toggle {
  opacity: 0;
}

/* стилизуем кнопку */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: absolute;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
/* добавляем "гамбургер" */
.hamburger-logo,
.hamburger-logo::before,
.hamburger-logo::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.hamburger-logo::before {
  content: '';
  top: -8px;
}
.hamburger-logo::after {
  content: '';
  top: 8px;
}
/* контейнер меню */
.menu__box {
  display: block;
  position: absolute;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  /*height: 100%;*/
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
} 

.menu__toggle:checked ~ .menu__btn > .hamburger-logo {
  transform: rotate(45deg);
}
.menu__toggle:checked ~ .menu__btn > .hamburger-logo::before {
  top: 0;
  transform: rotate(0);
}
.menu__toggle:checked ~ .menu__btn > .hamburger-logo::after {
  top: 0;
  transform: rotate(90deg);
}
.menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

@media (max-width: 450px){
  .hamburger-menu {
    display: block;
  }
}