.places__img {
  width: 100%;
  height: 533px;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 765px) {
  .places__img {
    height: 450px;
  }
}

@media (max-width: 450px) {
  .places__img {
    height: 320px;
  }
}