.places__block {
  display: grid;
  grid-template-columns: minmax(min-content, 50%) minmax(min-content, 50%);
}

@media (max-width: 765px) {
  .places__block {
    grid-template-columns: minmax(min-content, 100%);
  }
}
