.footer {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 290px 0;
  background-color: #fecda7;
  font-family: "Manrope", sans-serif;
  font-size: 34px;
  font-weight: 600;
  line-height: 163%;
}

@media (max-width: 765px) {
  .footer {
    padding: 100px 0;
    font-size: 24px;
  }
}
