.title__img {
  max-width: 355px;
  max-height: 355px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  padding: 0 90px 0 0;
}

@media (max-width: 1040px) {
  .title__img {
    padding: 50px 0;
  }
}

@media (max-width: 450px) {
  .title__img {
    padding: 25px 0;
  }
}
